body {
    background-color: #B0DDDB;
  }
  
  h1 {
    color:#607396;
    padding-left: 500px;
    font-family: garamond;
    font-size: 500%;
    margin-bottom: -40px;
}
  h3  {
    color: #607687;
    padding-left: 500px;
    font-family: garamond;
    font-size: 300%;
    margin-top: 40px;
}
  p   {
    color: #607687;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }